.navbar {
    height: 80px;


    .wrapper {
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item {
            display: flex;
            align-items: center;
            font-size: 18px;
        }

        .left {
            display: flex;
            align-items: center;
            gap: 25px;
        }

        .center {
            font-size: 30px;
            letter-spacing: 2px;
            margin-left: 15%;
            color: #04e9b0;
            font-weight: bold;

        }



        .right {
            display: flex;
            align-items: center;
            gap: 25px;
        }

        .icon {
            display: flex;
            gap: 15px;
            color: #777;
            cursor: pointer;

            .cartIcon {
                position: relative;

                span {


                    font-size: 12px;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    background-color: #2262ca;
                    color: white;
                    padding: 1px;

                    text-align: center;
                    position: absolute;
                    right: -10px;
                    top: -10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;


                }
            }

        }
    }

}