.products {
    padding: 30px 50px;
    display: flex;
    gap: 10px;
    overflow: visible;
    align-items: center;
    justify-content: space-between;







}

.items {
    flex: 4;


    .catImage {
        width: 100%;
        height: 400px;
        object-fit: cover;
        margin-bottom: 50px;

    }

}