.products {
    padding: 30px 50px;
    display: flex;
    gap: 10px;
    overflow: visible;



    .left {

        flex: 1;
        height: 100%;
        position: sticky;
        top: 50px;

        .filterItem {
            margin-bottom: 30px;

            h2 {
                font-weight: 400;
                margin-bottom: 20px;
            }

            .inputItem {
                margin-bottom: 10px;

                label {
                    margin-left: 10px;
                }
            }
        }




    }

    .right {
        flex: 4;

        .catImage {
            width: 100%;
            height: 400px;
            object-fit: cover;
            margin-bottom: 50px;
        }
    }
}