.slider {
    height: calc(100vh - 85px);
    width: 100%;
    position: relative;
    overflow-x: hidden;

    .container {
        width: 500vw;
        display: flex;
        height: 100%;
        transition: all 1s ease;




        .img {
            width: 100vw;
            height: 100%;
            object-fit: cover;
        }

    }

    .icons {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 100px;
        width: fit-content;
        gap: 10px;
        margin: auto;
        display: flex;
        color: #000000;


        .icon {
            width: 50px;
            height: 50px;
            border: 1px solid #b3abab;
            border-radius: 5px;
            // box-shadow: 3px 3px 2px gray;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: #97808041;
        }

    }
}